<div class="mt-3">
  <form action="/contact" method="POST">
    <div class="mb-3">
      <input type="text" name="user" class="form-control" />
    </div>
    <div class="mb-3">
      <input type="text" name="age" class="form-control" />
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-warning w-100">submit</button>
    </div>
  </form>
</div>